DATABASE_URL="postgresql://user:password@localhost:5432/nomina"

JWT_PRIVATE_KEY=""
JWT_PUBLIC_KEY=""
JWT_USER_ACCESS_EXPIRES_IN=900
JWT_USER_REFRESH_EXPIRES_IN=604800
USER_REFRESH_EXPIRES_IN=7

PROD_URL="https://app.example.com"
DEV_URL="http://localhost:8080"
DEPLOY_URL="https://deploy.example.com"

NODE_ENV="dev"
PORT=3000

REDIS_ENABLED=false
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
